<mat-nav-list>
    <div class="logo">
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/4R6qPX8/logo-bank.png" alt="logo-bank" ></a>
    </div>
    <!-- <mat-divider> </mat-divider> -->
    
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> home</mat-icon>
        HOME
    </a>
    <a mat-list-item routerLink="/my_accounts" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color">account_box</mat-icon>
        MY ACCOUNTS
    </a>
    <a mat-list-item routerLink="/payments" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color">account_balance_wallet</mat-icon>
        PAYMENTS
    </a>
    <a mat-list-item routerLink="/cards" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> credit_card</mat-icon>
        CARDS
    </a>
    <a mat-list-item routerLink="/currency_exchange" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> swap_vert</mat-icon>
        CURRENCY EXCHANGE
    </a>
    <a mat-list-item routerLink="/product_catalogue" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> image_search</mat-icon>
        PRODUCT CATALOGUE
    </a>
    <a mat-list-item routerLink="/pfm" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> query_stats</mat-icon>
        PFM
    </a>
    <a mat-list-item routerLink="/self_care" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> settings</mat-icon>
        SELF CARE
    </a>
    <a mat-list-item routerLink="/support" routerLinkActive="list-item-active">
        <mat-icon  class="bck_color"> support_agent</mat-icon>
        SUPPORT
    </a>

    

</mat-nav-list>